<div class="body">
    <div class="main_body">
        <h1 style="text-align: center; font-size: 35px;">Our Story</h1>
    </div>
    <div class="mid_body" style="padding-bottom: 20px; padding-left: 1%;">
        <div class="ingredients">
            <p>Welcome to our pizzeria, where every slice tells a story of flavor and joy!
                 Our passion for pizza goes beyond just great taste; it's about creating moments 
                 that bring people together. Dive into our menu, crafted with care to offer a delightful 
                 blend of classic favorites and innovative creations. Join us in celebrating the art of pizza
                  making, where each pie is a masterpiece of fresh ingredients and perfect crusts.</p>
            <p> Ever since we launched the Tastiest Pan Pizza ever. People have not been able to resist the softest,crunchiest Domino's Fresh Pan Pizza.We have launched French Pan Pizza Excuse Awards on our Facebook fan page. Fans were given solutions where given situation where they had to come up with sticky Pizzeria's Fresh Pan Pizza is the tasiest Pan Pizza Ever!</p>
        </div>
    </div>
    <div class="container">
        <div class="row" style="padding-bottom: 20px; ">
            <div class="col-md-6">
                <img src="../assets/ingredients.png" class="img-fluid" alt="Image">
            </div>
            <div class="col-md-6" style="padding-top: 5%; padding-left: 50px;">
                <p style="font-size: 25px;">Ingredients</p>
                <p>At our pizzeria, we take pride in using only the finest and freshest 
                    ingredients to create our pizzas. Each ingredient is carefully selected
                     for its quality and flavor, ensuring that every bite is a delightful experience.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="padding-top: 5% ;">
                <p style="font-size: 25px;">Our Chefs</p>
                <p>They make sauces sing and salads dance. They create magic with skill, knowledge, passion, and stirring spoons(among other things). They make goodness so good. It doesn't know what to do with itself. We do though. We send it to you.</p>
            </div>    
            <div class="col-md-6">
                <img src="../assets/chef.png" class="img-fluid" alt="Image">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="../assets/delivery.png" class="img-fluid" alt="Image">
            </div>
            <div class="col-md-6" style="margin-top: 130px;">
                <p style="font-size: 25px;">45 Minutes Delivery</p>
            </div>
        </div>
    </div>
</div> 

